<h2>Signup HERE!</h2>

<p>
  <form action="/signup" method="post">
    <p><label for="username">Username:</label>
    <input type="text" name="username" id="username" placeholder="username"></p>
    <p><label for="email">Email:</label>
    <input type="text" name="email" id="email" placeholder="email"></p>
    <p><label for="password">Password:</label>
    <input type="password" name="password" id="password" placeholder="password"></p>
    <p><input class="btn btn-primary" type="submit" value="submit"></p>

  </form>
</p>
