<h2>Login HERE!</h2>

<p>
  <form action="/login" method="post">
    <p><label for="username">Username:</label>
    <input type="text" name="username" placeholder="username"></p>
    <p><label for="password">Password:</label>
    <input type="password" name="password" placeholder="password"></p>
    <input class="btn btn-primary" type="submit" value="submit">
  </form>
</p>
