<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="/custom.css">
    <title>Review This!</title>
  </head>
  <body>
    <nav>
      <% if logged_in? %>
      <a class="btn btn-primary btn-sm" href="/">Checkout Reviews</a>
      <a class="btn btn-primary btn-sm" href="/users/<%= current_user.slug %>">Your Profile</a>
      <a class="btn btn-primary btn-sm" href="/reviews/new">Make a Review</a>
      <a class="btn btn-primary btn-sm" href="/logout">Logout</a>

      <% else %>
      <a class="btn-primary btn-sm" href="/login">Log in</a>
      <a class="btn-primary btn-sm" href="/signup">Sign Up</a>

      <% end %>
    </nav>

    <div class="container">
      <%= yield %>
    </div>

  </body>
</html>
